*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: RalewayM;
    src: url(../fonts/Raleway-Medium.ttf);
}
@font-face {
    font-family: RalewayR;
    src: url(../fonts/Raleway-Regular.ttf);
}
@font-face {
    font-family: RalewayS;
    src: url(../fonts/Raleway-SemiBold.ttf);
}